<!DOCTYPE html>
<html th:replace="~{templatefile :: layout(~{::title}, ~{::libs}, ~{}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Eintrag</title>
<libs> <script type="text/javascript" th:src="@{/js/bootstrap-input-spinner.js}"></script> </libs>
</head>

<body>
	<content>
	<div class="container">
		<form th:action="@{/secure/do_upsert}" th:object="${fuelBean}" method="post">
			<p>
				Inhalt von Eintrag <span th:text="*{pk}"></span>:
			</p>
			<input type="hidden" th:field="*{pk}" />
			<div class="form-group">
				<label>Kilometerstand</label> <input type="number" th:field="*{mileage}" class="form-control slider"
					placeholder="Kilometerstand" />
			</div>
			<div class="form-group">
				<label>Menge</label> <input type="text" th:field="*{amountString}" class="form-control slider" data-suffix="l"
					data-decimals="2" placeholder="Menge" />
			</div>
			<div class="form-group">
				<label>Kraftstoff</label> <input type="text" th:field="*{fuel}" class="form-control" placeholder="Kraftstoff, z.B. E10" />
			</div>
			<div class="form-group">
				<label>Preis</label> <input type="text" th:field="*{priceString}" class="form-control slider" data-suffix="€"
					data-decimals="2" placeholder="Preis" />
			</div>
			<div class="form-group">
				<label>Anbieter</label> <input type="text" th:field="*{provider}" class="form-control" placeholder="Anbieter, z.B. Aral" />
			</div>
			<div class="form-group">
				<label>Ort</label> <input type="text" th:field="*{location}" class="form-control" placeholder="Ort" />
			</div>
			<div class="form-group">
				<label>Kaufdatum (YYYY-MM-DDTHH:mm:ss)</label> <input id="inputBuydateString" type="text" th:field="*{buydateString}"
					pattern="^(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2})$" class="form-control" placeholder="Einkaufsdatum"
					onchange="checkRegex(this.value, this.pattern, this.id)" />
			</div>
			<div class="form-group">
				<label>Anmerkungen</label>
				<textarea th:field="*{annotation}" class="form-control" placeholder="Randnotizen"></textarea>
			</div>
			<div class="form-group" style="padding-top: 8px; width: 100%; text-align: center">
				<input id="okBtn" type="submit" class="btn btn-primary" value="Ok" /> <a th:href="@{/secure/to_table}" class="btn btn-secondary"
					style="margin-left: 80px">Abbrechen</a>
			</div>
		</form>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".slider").inputSpinner();
			});

			checkRegex = function(value, pattern, id) {
				checkOk = value == "" || new RegExp(pattern).test(value);
				okBtn = $("#okBtn");
				if (checkOk) {
					$("[id='" + id + "']").removeClass("inputError");
					okBtn.prop("disabled", false);
				} else {
					$("[id='" + id + "']").addClass("inputError");
					okBtn.prop("disabled", true);
				}
			}
		</script>
	</div>
	</content>
</body>

</html>