<!DOCTYPE html>
<html th:replace="~{templatefile :: layout(~{::title}, ~{::libs}, ~{::header}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuels</title>
<libs>
  <link th:rel="stylesheet" th:href="@{/webjars/datatables/1.13.2/css/jquery.dataTables.min.css}" />
  <script th:src="@{/webjars/datatables/1.13.2/js/jquery.dataTables.min.js}"></script>
</libs>
</head>

<body>
  <header>
    <p>
      <a th:href="@{/secure/welcome}" class="btn btn-primary">Übersicht</a>&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/secure/to_bean}" class="btn btn-primary">neuer Eintrag</a>
    </p>
  </header>
  <content> 
    <script type="text/javascript" th:inline="none">
    /*<![CDATA[*/ 
			$(document).ready(function() {
				$("#the_table").DataTable({
					order : [
						[0, 'desc']
					],
					language : {
						url : '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json'
					}
				});
			});
		/*]]>*/
		</script>
  <table id="the_table" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>Kilometerstand</th>
        <th>Menge (in l)</th>
        <th>Kraftstoff</th>
        <th>Preis (in €)</th>
        <th>Anbieter</th>
        <th>Ort</th>
        <th>Kaufdatum</th>
        <th>Anmerkungen</th>
        <th>€/l</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="i: ${fuels}">
        <td th:text="${i.mileage}">mileage</td>
        <td th:text="${#numbers.formatDecimal(i.amount, 1, 2)}">0.00</td>
        <td th:text="${i.fuel}">fuel</td>
        <td th:text="${#numbers.formatDecimal(i.price, 1, 2)}">0.00</td>
        <td th:text="${i.provider}">provider</td>
        <td th:text="${i.location}">location</td>
        <td th:text="${{i.buydate}}" style="min-width: 112px">buydate</td>
        <td th:text="${i.annotation}">annotation</td>
        <td th:text="${#numbers.formatDecimal(i.euro_per_l, 1, 2)}">0.00</td>
        <td><a th:href="@{'/secure/to_existing_bean/' + ${i.pk}}">ändern</a></td>
      </tr>
    </tbody>
  </table>
  </content>
</body>
</html>