<!DOCTYPE html>
<html th:replace="~{templatefile :: layout(~{::title}, ~{::libs}, ~{::header}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fuels</title>
	<libs>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</libs>
</head>

<body>
	<header>
		<p><a th:href="@{jsonfuels}" class="btn btn-secondary" target="_blank">als JSON-Format</a>&nbsp;&nbsp;<a th:href="@{/secure/to_table}"
				class="btn btn-secondary">vollständige Tabelle</a>&nbsp;&nbsp;<a th:href="@{/secure/to_bean}" class="btn btn-primary">neuer Eintrag</a>
		</p>
	</header>
	<content>
		<div style="height: 300px">
			<canvas id="progress"></canvas>
		</div>
		<script th:inline="javascript" type="text/javascript">
			const data = {
				labels: /*[[${chartjslabel}]]*/[],
				datasets: [{
					label: '€/l',
					backgroundColor: 'rgb(16, 120, 148)',
					borderColor: 'rgb(16, 120, 148)',
					data: /*[[${chartjsdata}]]*/[],
				}]
			};
			const config = {
				type: 'line',
				data: data,
				fill: true,
				tension: 0.1,
				options: {
					responsive: true,
					maintainAspectRatio: false
				}
			};
			const progress = new Chart(document.getElementById('progress'), config);
		</script>
		<div class="mypanel">
			Zusammenfassung über die gesamte Zeit:
			<p><span th:text="${#numbers.formatDecimal(averagelkm, 1, 2)}">nicht ermittelbar</span> l/100 km</p>
			<p><span th:text="${#numbers.formatDecimal(averageel, 1, 2)}">nicht ermittelbar</span> €/l</p>
		</div>
	</content>
</body>
</html>