<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuels</title>
  <link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <div class="halfmiddlecenter">
    <img th:src="@{/img/logo.png}" /><br />
    <a th:href="@{/secure/welcome}" class="linkbtn">einsteigen</a>
  </div>
</body>
</html>
