html {
	width: 100%;
	height: 100%
}

body {
	background: linear-gradient(white, silver); 
}

.topright {
	position: fixed;
	right: 8px;
	top: 8px;
	margin: 8px;
}

.middlecenter {
	text-align: center; 
	padding-top: 45vh;
}

.halfmiddlecenter {
	text-align: center;
	padding-top: 25vh;
}

.errorframe {
	border: 2px solid red;
	border-radius: 4px;
	margin-left: 20vh;
	margin-right: 20vh;
	padding-bottom: 16px;
	padding-top: -10vh;
}

.inputError {
	color: white;
	background-color: red;
	font-weight: bolder;
}

.linkbtn {
	background: transparent;
	border: 2px solid transparent;
	padding: 8px;
}

.linkbtn:hover {
	background-color: white;
	border: 2px solid silver;
	border-radius: 4px;
}

.mypanel {
	border: 1px solid silver;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	background-color: #eee;
	padding: 8px;
	margin: 8px;
}

.myheadline {
	padding: 8px;
	margin: 8px;
}