<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fehler</title>
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <div class="middlecenter">
    <div class="errorframe">
      <p>Es ist ein Fehler aufgetreten.</p>
      <a th:href="@{/logout}" class="linkbtn">Ach, Mist...</a>
    </div>
  </div>
</body>

</html>