<!DOCTYPE html>
<html th:fragment="layout (title, libs, header, content)" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:replace="${title}">Layout Title</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
	<link th:rel="stylesheet" th:href="@{/css/style.css}" />
	<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
	<meta th:replace="${libs}"></meta>
</head>

<body>
	<div class="myheadline">
		<div class="topright linkbtn"><b th:inline="text">[[${#authentication.principal.name}]]</b> von Version <span th:text="${@manifestBean.getVersion()}"></span> <a th:href="@{/logout}">abmelden</a></div>
		<span th:replace="${header}">Layout header</span>
	</div>
	<div th:replace="${content}">Layout content</div>
</body>

</html>